body{
    font-family: 'Montserrat', sans-serif;
}


header{
     background-color: #BBBBBB;
     padding:20px 0;
}
.caja{
    width: 500px;
    position:relative;
    margin: auto;
}
h1{
    text-transform:uppercase;
    color:black;
    font-weight:bolder;
    font-size:50px;
    text-decoration:wavy;
    text-align:center;
    width:40%;
    display:inline-block;
    vertical-align: top;
}

nav{
    position:absolute;
    top: 60px;
    left: 600px;
   
}
nav li{
    display:inline-block;
    margin-right: 10px;
   
}
nav a{
    text-transform:uppercase;
    color:sienna;
    font-weight: bold;
    font-size:  20px;
    text-decoration:solid;
}
.productos li{
    display:inline-block;
    text-align:center;
    width:40%;
    vertical-align:top;
    margin:0 1.5%;
    padding:30px 20px 50px;
    box-sizing:border-box ;
    border:2px solid yellowgreen;
    border-radius:10px;
}
img {
    width: 200px; /* Set the width to 200 pixels */
    height: 150px; /* Set the height to 150 pixels */
  }
.productos li:hover{
    border-color:#c78c19;
    
}
.productos li:active{
    border-color:#088c19;
}
.productos h2{
    font-size:30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size:33px;
}
.producto-descripcion{

    font-size: 18px;
}
.producto-precio{
    font-size:20px;
    font-weight: bold;
    margin-top:10px;
}
.productos li:hover{
    cursor: pointer;
}
footer{
    text-align:center;
    padding: 40px;
}
.copyright{
    color:black;
    font-size: 13px;
    margin:20px;
}