body{
    font-family: 'Montserrat', sans-serif;
}


header{
     background-color: #BBBBBB;
     padding:20px 0;
}
.caja{
    width: 500px;
    position:relative;
    margin: auto;
}
h1{
    text-transform:uppercase;
    color:black;
    font-weight:bolder;
    font-size:50px;
    text-decoration:wavy;
    text-align:center;
    width:40%;
    display:inline-block;
    vertical-align: top;
}

nav{
    position:absolute;
    top: 30px;
    left: 600px;
   
}
nav li{
    display:inline-block;
    margin-right: 10px;
   
}
nav a{
    text-transform:uppercase;
    color:sienna;
    font-weight:lighter;
    font-size:  20px;
    text-decoration:solid;
}
form{
    margin: 40px 0;
}
form label,form legend{
    display:block;
    font-size: 20px;
    margin:0 0 10px;

}


.rectangulo{

    position:absolute;
    width: 500px;
    height: 300px;
    left: 1000px;
    top: 190px;
    background: #e9ebeb;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}


#resultSearch{
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1070px;
    top: 250px;
    padding: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;

    color: sienna;
}

.input-padron{
    display:block;
    margin:0 0 20px;
    padding:10px 25px;/*dentro del input permite ubicar el cursor */
    width:50%;
}
.checkbox,.enviar{
    margin:20px 0;
}
.enviar{
    width:40%;
    padding:14px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: saddlebrown;
    border:none;
    border-radius: 5px;
    transition:1s all;/*-afecta caja-letra color permite que el dark orange en el boton de enviar dure más tiempo sin hacer transición*/
    cursor:pointer;/*pone la manito en vez de la fecha para enviar el formulario*/
}
.enviar:hover{
    background: darkorange;
    transform:scale(1.2)/*aumenta tamaño en un 20%en la letra cuando se posicione el mouse encima*/

}

footer{
    text-align:center;
    padding: 40px;
}
.copyright{
    color:black;
    font-size: 13px;
    margin:20px;
}