body{
    font-family: 'Montserrat', sans-serif;
}


header{
     background-color: #BBBBBB;
     padding:20px 0;/
}
.caja{
    width: 500px;
    position:relative;
    margin:0 auto;
}
h1{
    text-transform:uppercase;
    color:black;
    font-weight:bolder;
    font-size:50px;
    text-decoration:wavy;
    text-align:center;
    width:40%;
    display:inline-block;
    vertical-align: top;
}

nav{
    position:absolute;
    top:510px; 
    right:0;
}
nav li{
    display:inline-block;
    margin:0 0 0 15px;
}

nav a{
    text-transform:uppercase;
    color:white;
    font-weight: bold;
    font-size:50px;
    text-decoration:solid;
}

nav a:hover{
    color:#c78c19;
    text-decoration:underline;
}

footer{
    text-align:center;
    padding: 40px;
}
.copyright{
    color:black;
    font-size: 13px;
    margin:20px;
}

.banner{
    width:100%;
}
.principal{
    
    background:#fefefe;
    padding:3em 0;
    width: 940px;
    margin:0 auto;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin:0 0 1em;
    clear:left; /*cualquier configuaración que venga despues de la izquierda del título la limpie*/
    text-shadow: 2px 2px 10px greenyellow;
}
p.first-line{
    font-style:italic;
}
.principal p{
    margin:0 0 1em;

}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style:italic;
}

.mapa{
    padding: 3em 0;/*3em significa tres veces el tipo de letra que se tiene como referencia*/
    background: linear-gradient(#fefefe,#888888);/*la función linear-gradient permite hacer degradación de color*/
}
.mapa p{
    margin:0 0 2em;
    text-align: center;
}
.mapa-contenido{
    width:940px;
    margin:0 auto;
}

.diferenciales{
    padding: 3em 0;
    background:#888888;

}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}
.lista-diferenciales{
    width:40%;
    display:inline-block;
    vertical-align: top;
}
.items{
    line-height:1.5;/*significa 1 más el 50%del tamaño padrón de las letras, es el espacio entre línea y línea de texto*/
}
.items::before{
    content:"★"
}
.items:first-child{/*al primer hijo de ese bloque de elementos aplicarle una determinada propiedad*/
    font-weight: bold;
}
.imagen-diferenciales{
    width: 60%;
    transition:400ms;
    box-shadow:10px 10px 30px 15px #000000;
}
.imagen-diferenciales:hover{
    opacity: 30%;
}


/*zona para hacerlo responsivo a un celular*/
@media screen and (max-width:480px){

    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .caja,.principal,.mapa-contenido,.contenido-diferenciales, .video{
        width:auto;
        background: red;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width:100%;
    }
}